*{
    padding: 0;
    margin: 0;
    background: #22242e;
    color: #fff;
}

#formulario{
    display: none;
    width: 300px;
    height: 300px;
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 20px;
}

#formulario h3{
    background-color: transparent;
    margin: 10px 0px 30px 0px;
}

#formulario div{
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

#formulario div input{
    width: 200px;
    margin: 10px auto 14px auto;
    border: none;
    border-bottom: 1px solid #fff;
    color: rgb(236, 220, 220);
    text-align: center;
    font-size: 17px;
}

#formulario div input:focus{
    outline: none;
}

#formulario button{
    margin: auto;
    padding: 4px 8px;
    border-color: #fff;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: #53576f;
}

#formulario button:hover{
    transform: scale(1.05);
}

#top{
    display: grid;
}

#top button{
    justify-self: flex-end;
    margin: 0px 30px 60px 0;
    text-decoration: none;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

h2{
    text-align: center;
    font-size: 40px;
    margin: 20px 0 40px 0;
}

#contactos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 700px;
    margin: auto;
}

#contactos .contenedor{
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 160px;
    background-color: #292e43;
    justify-content: center;
    border-radius: 10px;
}

#contactos .contenedor h3{
    background-color: transparent;
    text-align: center;
    margin-bottom: 15px;
}

#contactos .contenedor input{
    width: 50%;
    margin: 6px auto 0 auto;
    border: none;
    /* color: #fff; */
    text-align: center;
    background-color: transparent;
}